@import url('https://fonts.googleapis.com/css2?family=Acme&family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 0, 0.477);
}

h1 {
    font-family: 'Caveat', cursive;
    text-transform: capitalize;
    font-size: 64px;
    margin-bottom: 30px;
    color: rgb(118, 37, 195);
    text-shadow:  10px 10px 2px #fff;
}

.wrapper {
    display: flex;
    width: 500px;
    flex-direction: column;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
    padding: 60px;
    border-radius: 10px;
    gap: 20px;
    background: #ffffffb1;
    margin: 20px auto;
}

.wrapper p {
    background: rgb(151, 253, 151);
    color: #1d6f1c;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, button, .showList, .wrapper p {
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    font-family: 'Play', sans-serif;
    letter-spacing: 2px;
    box-shadow: 5px 5px 10px #ccc;
}

button {
    background: rgba(255, 255, 0, 0.556);
    color: #ff0000;
    cursor: pointer;
}

@media only screen and (max-width: 510px) {
    body {
        padding: 10px;
    }
    h1{
        font-size: 48px;
    }
    .wrapper {
        width: 90%;
        /* margin: 20px auto; */
        padding: 30px;
    }
}